window {
margin: 0px;
border: 1px solid #FFC690;
background-color: #21201F;
}

#input {
margin: 5px;
border: none;
color: #f8f8f2;
background-color: #302F2D;
}

#inner-box {
margin: 5px;
border: none;
background-color: #21201F;
}

#outer-box {
margin: 5px;
border: none;
background-color: #21201F;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: #FFFFFF;
} 

#text:selected {
color: #000000;
}

#entry:selected {
background-color: #FFC690;
}
